{{!-- skeleton from Module 14 lesson 20 /views/login.handlebars --}}
<div class="m-10">
    {{!-- holds both login and logout div's --}}
    <div class="bg-blue-400 m-2 p-5">
        {{!-- login section --}}
        <h2>Login</h2>
        <form class="" id="login-form">
            <div class="">
                <label for="userName" class="">Username:</label>
                <input class="input" type="text" id="user-login" />
            </div>
            <div class="">
                <label for="password-login" class="label">Password:</label>
                <div class="">
                    <input class="input" type="password" id="password-login" />
                </div>
            </div>
            <div class="">
                <button class="btn" type="submit" id="login-btn">login</button>
            </div>
        </form>
    </div>
    <div class="bg-blue-400 m-2 p-5">
        <h2 class="title">Signup</h2>
        <form class="form signup-form">
            <div class="m-2">
                <label for="username-signup">Username:</label>
                <input class="input" type="text" id="username-signup" />
            </div>
            <div class="">
                <label for="password-signup">Password:</label>
                <input class="form-input input" type="password" id="password-signup" />
            </div>
            <div class="">
                <button class="button" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>
<script src="./js/login.js"></script>