<div class="bg-zinc-800">
    <div class="bg-blue-400 m-2 p-5 rounded h-1/2">
        <form class="" id="login-form">
            <div class="">
                <label for="userName" class="block">Post Title</label>
                <input class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="post-title"/>
            </div>
            <div>
                <label for="password-login" class="label"> What's on your mind {{plainUserData.name}}?</label>
                <div>
                    <textarea class="block w-full h-1/2 p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="post-description"></textarea>
                </div>
            </div>
            <div class="flex justify-center">
                <button type="submit" id="create-post" class="m-3 p-2 bg-sky-700 hover:bg-sky-200 text-white hover:text-black font-bold rounded">Create Post</button>
            </div>
        </form>
    </div>
</div>
<script src="./js/createPost.js"></script>